<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MQuery-FCS testing form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        </style>
    </head>
    <body>
        <h1>MQuery-FCS testing form</h1>
        <form action="/" method="GET">
            <input type="hidden" name="operation" value="searchRetrieve" />
            <fieldset>
                <legend>query</legend>
                <select name="x-fcs-context" multiple>
                {{ range $i, $c := .Corpora }}
                    <option>{{ $c }}</option>
                {{ end }}
                </select>
                <select name="queryType">
                    <option value="fcs">FCS-QL</option>
                    <option value="simple">simple</option>
                </select>
                <input type="text" name="query" />
            </fieldset>
            <button type="submit">submit</button>
        </form>
    </body>
</html>